In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./people.csv')
data.head()

,Name,preference 1,prefrence 2,preference 3
0,Ioannis Pastellas/UCY,p.3,p.7,p.6
1,Mattia Angelini/UCY,p.3,p.7,p.6
2,Irene Kyriacou/ UCY,p.5,p.7,p.1
3,Giuseppe Carrino/University of Bologna,p.2,p.3,p.5
4,Kankana Ghosh/University of Bologna,p.1,p.6,p.5

In [3]:
data['university'] = data['Name'].apply(lambda name: name.split('/')[1])
data['Name'] = data['Name'].apply(lambda name: name.split('/')[0])
data.head()

,Name,preference 1,prefrence 2,preference 3,university
0,Ioannis Pastellas,p.3,p.7,p.6,UCY
1,Mattia Angelini,p.3,p.7,p.6,UCY
2,Irene Kyriacou,p.5,p.7,p.1,UCY
3,Giuseppe Carrino,p.2,p.3,p.5,University of Bologna
4,Kankana Ghosh,p.1,p.6,p.5,University of Bologna

In [4]:
print(data[data['preference 1'] == 'p.1'].shape)
print(data[data['prefrence 2'] == 'p.3'].shape)
print(data[data[' preference 3'] == 'p.2'].shape)

(9, 5)
(12, 5)
(11, 5)

In [5]:
def getIndex(data):
    return data == 'p.1' or data == 'p.2' or data == 'p.3' 
projects_as_mine = data[['preference 1', 'prefrence 2', ' preference 3']].applymap(getIndex)
projects_as_mine = data[['preference 1', 'prefrence 2', ' preference 3']].applymap(getIndex)
projects_as_mine = data[['preference 1', 'prefrence 2', ' preference 3']].applymap(getIndex)

In [20]:
projects_as_mine = projects_as_mine.applymap(lambda x: 1 if x else 0)

In [25]:
count = projects_as_mine.sum(axis=0)

In [24]:
projects_as_mine.head()

   preference 1  prefrence 2   preference 3
0             1            0              0
1             1            0              0
2             0            0              1
3             1            1              0
4             1            0              0

In [26]:
count

preference 1     25
prefrence 2      27
 preference 3    33
dtype: int64